// Shared mixins.
.shared-bk {
    background-image: -webkit-linear-gradient(top,white,hsl(0, 0%, 95%));
}

.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow {
    box-shadow: 0 1px 10px hsla(0, 0%, 0%, 0.1);
}

.side-pad (@pad: 4px) {
    padding-left: @pad;
    padding-right: @pad;
}

// General setup

body {
    background: url('../img/bk.jpg') repeat;
}

#main-content {
    padding-top: 60px;
    padding-bottom: 60px;
}

form {
    label {
        color: #666;
    }
}

.navbar {
    .brand {
        font-family: 'Titillium Web', sans-serif;
        font-weight: bold;
        font-size: 30px;
        color:#345;
    }
}

#create-task-container {
    .rounded-corners;
    .box-shadow;
    .shared-bk;

    border:1px solid #ccc;
    padding: 10px;
    padding-top:40px;
    margin-top: -50px;
    margin-bottom: 20px;

    form {
        margin:0;
        
        input {
            margin: 0;
            width: 900px;
            font-size: 15px;
            padding:8px;
        }
    }

    .task-preview {
        // Initially hidden until we parse somethign.
        display: none;
        margin-top: 10px;
        margin-bottom: 0;
        .task-terms{
            .bounty {
                font-weight: bold;
                // Initially hidden until we parse somethign.
                display: none;
            }

            .expire {
                // Initially hidden until we parse somethign.
                display: none;                
            }
        }
    }
}

#tasks-nav {
    a {
        cursor: pointer ;
    }
}

.task {
    .rounded-corners;
    .box-shadow;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #ccc;
    overflow: hidden;

    &.offer {
        .task-header {
            background-color: rgba(254, 247, 209, 0.4);
        }
    }

    &.PE {
        .task-footer {  
            .label.status.PE {
                display: inline;
            }
            .btn-group.complete {
                display: none;
            }
        }
    }

    &.AC {
        .task-footer {
            .label.status.AC {
                display: inline;
            }
            .btn-group.respond {
                display: none;
            }
        }
    }

    &.RJ {
        .task-footer {
            .label.status.RJ {
                display: inline;
            }
            .btn-group.complete, .btn-group.respond {
                display: none;
            }
        }
    }

    .task-header {
        .side-pad;
        background-color: ;
        margin-bottom: 2px;

        .task-offer {
            font-size: 163%;
            line-height: 40px;

            .task-offer-badge {
            }

            .task-offer-amount {
                float:right;
            }
        }
    }

    .task-info{
        .side-pad;
        font-size: 13px;

    
        .task-sender {
            font-weight: bold;
        }

        .task-expire {
            font-weight: bold;
        }
    }

    .task-footer{
        .side-pad;
        padding-bottom: 4px;

        .label.status {
            display: none;
        }
    
        .task-actions {
            .btn-group {
                margin-top: -6px;
            }
        }
    }

    .task-description {
        margin-top: 2px;
        margin-bottom: 5px;
    }

}