<script type="text/template" id="task-template">
    <div class="task <% if(is_offer) { print('offer'); } %>">
        <% if( is_offer ) { %>
        <div class="task-header">
            <div class="task-offer">
                <span class="task-offer-badge">Incentive</span>
                <span class="task-offer-amount"><strong><%- bounty %></strong></span>
            </div>
        </div>
        <% } %>
        <div class="task-info">
            <% if( is_to_group ) { %>
                <i class="icon-user"></i>
            <% } %>
            <% if( typeof isForwarded === "boolean") { %>
                <i class="icon-forward"></i>
            <% } %>
            <span class="task-sender"><%= sender.display_name %></span> to 
            <span class="task-recipients"><%= recipients %></span>
            <span class="task-expire pull-right"><%= expire %></span>
        </div>
        <blockquote class="task-description">
            <p><%= description %></p>
        </blockquote>
        <div class="task-footer clearfix">

            <% if( typeof tags !== "undefined") { %>
            <span class="task-tags">
            <% _.each(tags, function(i) { %>  
                <span class="label label-info"><%= i %> </span>
            <% }); %>
            </span>
            <% } %>

            <span class="task-actions pull-right">
                <% if( can_forward ) { %>
                <div class="btn-group">
                    <button class="btn btn-mini">Forward <i class="icon-forward"></i></button>
                </div>
                <% } %>
                <div class="btn-group">
                  <% if( can_change ) { %>  
                  <button class="btn btn-mini">Change <i class="icon-pencil"></i></button>
                  <% } %>  
                  <button class="btn btn-mini btn-danger">No</button>
                  <button class="btn btn-mini btn-success">Yes</button>
                </div>
            </span>
        </div>
    </div>
</script>