<script type="text/template" id="task-template">
    <div class="task <% if(is_offer) { print('offer'); } %> <%= status %> 
    <% if(sender.username === '{{ user.username }}') {
        print('owner');
    } %>">
        <% if( is_offer ) { %>
        <div class="task-header">
            <div class="task-offer">
                <span class="task-offer-badge">Incentive </span>
                <span class="task-offer-amount"><strong>$<%- bounty %></strong></span>
            </div>
        </div>
        <% } %>
        <div class="task-info">
            <% if( is_to_group ) { %>
                <i class="icon-user"></i>
            <% } %>
            <% if( typeof isForwarded === "boolean") { %>
                <i class="icon-forward"></i>
            <% } %>
            <span class="task-sender"><%= sender.display_name %></span> to 
            <span class="task-recipients"><%= recipients[0].to_user.display_name %></span>
            <span class="task-expire pull-right">Expires <%= moment(expire).fromNow() %></span>
        </div>
        <blockquote class="task-description">
            <p><%- description %></p>
        </blockquote>
        <div class="task-footer clearfix">

            <span class="status PE label label-info ">pending</span>
            <span class="status AC label label-success ">accepted</span>
            <span class="status RJ label label-important ">rejected</span>

            <% if( typeof tags !== "undefined") { %>
            <span class="task-tags">
            <% _.each(tags, function(i) { %>  
                <span class="label label-info"><%= i %> </span>
            <% }); %>
            </span>
            <% } %>

            <span class="task-actions pull-right">
                <% if( can_forward ) { %>
                <div class="btn-group forward">
                    <button class="btn btn-mini">Forward <i class="icon-forward"></i></button>
                </div>
                <% } %>
                <div class="btn-group change">
                  <% if( can_change ) { %>  
                  <button class="btn btn-mini"><i class="icon-pencil"></i></button>
                  <% } %>
                </div>
                <div class="btn-group respond">  
                  <button class="btn btn-mini btn-danger no">No</button>
                  <button class="btn btn-mini btn-success yes">Yes</button>
                </div>
                <div class="btn-group complete">  
                  <button class="btn btn-mini btn-danger">Cancel and close</button>
                  <button class="btn btn-mini btn-success">Complete</button>
                </div>
            </span>
        </div>
    </div>
</script>