<section id="create-task-container" class="clearfix">
    <form action="#" method="get" accept-charset="utf-8">
        <input class="task-input" type="text" placeholder="+username Enter your task description. expires:2 bounty:100">
    </form>
    <p class="task-preview lead">
        <strong><span class="recipients"></span></strong>
        <span class="description"></span>
        <span class="task-terms pull-right">
            <span class="expire"></span>
            <span class="bounty"></span>
        </span>
    </p>     
</section>
