<section id="create-task-container" class="create-new-container">
    <form action="#" method="get" accept-charset="utf-8">
        <input class="task-input" type="text" placeholder="+username Task description. expires:2 bounty:100">
    </form>
    <p class="lead">
        <strong><span class="recipients"></span></strong>
        <span class="description"></span>
        <strong class="pull-right">
            <span class="expire"></span>
            <span class="bounty"></span>
        </strong>
    </p>     
</section>
