<section id="create-task-container" class="create-new-container">
    <form action="#" method="get" accept-charset="utf-8">
        <input class="task-input" type="text" placeholder="@sebastian #acton Can you please check pull request 12? | 1h">
    </form>
    <p class="text-info">
        recipients: <span class="recipients"></span> 
        task: <span class="description"></span>
        expire: <span class="expire"></span>
        bounty: <span class="bounty"></span>
    </p>     
</section>
