<!doctype html>
<html lang="en">
{% load staticfiles %}
<head>  
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- External libs -->
    <script src="{% static 'libs/jquery-1.9.1.min.js' %}" type="text/javascript" charset="utf-8"></script>    
    <script src="{% static 'libs/underscore-min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'libs/backbone-min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}" type="text/javascript" charset="utf-8"></script>
    
    <!-- Source javascript -->

    <!-- Main sample application -->
    {# <script src="{% static 'src/js/application.js' %}" type="text/javascript" charset="utf-8"></script> #}

    <!-- Styles -->
    <link href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <!-- <link href="{% static 'libs/bootstrap/css/bootstrap-responsive.min.css' %}" rel="stylesheet" media="screen"> -->
    
    <!-- Less Styles, Less files go BEFORE script -->
    <link href="{% static 'src/css/style.less' %}" rel="stylesheet/less">
    <script src="{% static 'libs/less-1.3.3.min.js' %}" type="text/javascript" charset="utf-8"></script>

    <title>Acton!</title>
</head>
<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Acton</a>
          <div class="nav-collapse collapse">
            <!-- <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul> -->
            <ul class="nav pull-right">
              <li><a href="{% url "registration_register" %}">Register</a></li>
              <li><a href="{% url "auth_login" %}">Sign In</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div id="main_content" class="container">
      {% block content %}{% endblock %}
    </div> <!-- /container -->

</body>
</html>