{% extends "base.html" %}

{% block content %}
    
    <div class="row">
        <div class="span12">
            {% include "blocks/create_block.html" %}
        </div>
    </div>

    <div class="row">
        <div class="span12">
            {% include "blocks/task_nav_block.html" %}
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <section id="main-tasks-list">
                <!-- Dynamically append todos with JS templates here. -->
            </section>
        </div>
    </div>

{% endblock %}